# Question 1 : 
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters only.

Input Format:
The first line of the input contains an email address.
 
Output Format:
Print the company name in single line.
 
Example;

Input:
john@google.com

Output:
google

In [1]:
def dom_name(x): # Here x is a string
    i1 = x.index("@")
    i2 = x.index(".")
    return (x[i1+1:i2])
x = "moharibishal@google.com"
dom_name(x)

'google'

# Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma.
 
Output Format:
Print the sorted words separated by the comma.
Example:

Input:
without,hello,bag,world

Output:
bag,hello,without,world

#### Ans:

In [6]:
names = input("Enter sequence of words : ")
words = list(map(lambda x:x,names.split(',')))
words.sort()
print("Sorted sequence of words are :", ','.join(words))

Enter sequence of words : without,hello,bag,world
['without', 'hello', 'bag', 'world']
Sorted sequence of words are : bag,hello,without,world

# Question 3:
 
Create your own Jupyter Notebook for Sets.
 
Reference link: https://www.w3schools.com/python/python_sets.asp

#### Ans : 
# Sets
Sets are a type of array data structure that are unordered and immutable. They are denoted with curly braces.
#### Syntax :  variable_name = { ele 1, ele2 , ele3,....,eleN}
## Accesing elements :
We cannot access items in a set in the same way we do with Lists since sets are unordered and do not have indices that we can call upon. This also applies to sets slicing.
However we can loop through the elements in a set and ask if a specified element is present in a set or not.
#### Example : 
** Printing the values of the set and checking for values**

In [12]:
set1 = {'India','America','China'}
print('The elements of the set are : ')
for i in set1:
    print(i)
print("Checking for existence : ")
print("China" in set1) # If true China is in the set.

The elements of the set are :
America
China
India
Checking for existence :
True

## Changing Items
As it has been said, the **Sets** are immutable so it is not possible to change the elements in the set once it has been created.
## Adding Items
To add one item we can use the `add()` method
To add multiple items we can use the `update()` method
Examples :

In [14]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print("The add() operation : ", thisset)
thisset.update(["orange", "mango", "grapes"])
print("The update() operation : ",thisset)

The add() operation :  {'apple', 'cherry', 'orange', 'banana'}
The update() operation :  {'cherry', 'mango', 'orange', 'banana', 'apple', 'grapes'}

## Getting the lenghth
We simply use the `len()` method.
Example :

In [ ]:
set3 = {1,2,3,4,5,6,7}
print(len(set3))

## Removing an item 
To remove an item we either use the `remove()` or `discard()` method.
The difference between the two is that unlike in remove, if the item does not exist when using `discard()` and error will not be raised.
We can also use the pop() method to remove only the last item in the set.
On the other hand the `clear()` method empties all the elements from the set but the `del()` method deletes the set completely and gives `None`
Example :

In [21]:
set4 = {1,2.3,4,5,6,7,8,9}
set4.discard(2.3)
set4.remove(9)
print("The discard() and remove operations on set4 : ",set4)
set4.pop()
print("The pop() operation removes the last element from the set : ", set4)
set4.clear() 
print("The set is now empty", set4)
del set4
print("printing del set4 will raise an error as the set no longer exists")

The discard() and remove operations on set4 :  {1, 4, 5, 6, 7, 8}
The pop() operation removes the last element from the set :  {4, 5, 6, 7, 8}
The set is now empty set()
del set4 will raise an error as the set no longer exists

## Joining Two Sets
The `union()` or the `update()` can be used to join two sets.
`union()` returns a new set with elements from both sets
`update()` inserts all elements from one set to another
Example :

In [22]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
union_set = set1.union(set2)
set1.update(set2)
print("New set with elements from both set ->> union_set : ", union_set)
print("set1 updated with set2 elements : ", set1)

New set with elements from both set ->> union_set :  {1, 2, 3, 'a', 'c', 'b'}
set1 updated with set2 elements :  {1, 2, 3, 'a', 'c', 'b'}

## The set() Constructor
The `set()` constructor is a method that takes in different elements and adds them to a newly devised set.
Example:

In [24]:
setc = set(range(1,10))
print(setc)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## Set Methods :
**Below we have shortly discussed the different types of set methods**

Method |	Description

`add()`	Adds an element to the set

`clear()`	Removes all the elements from the set

`copy()`	Returns a copy of the set

`difference()`	Returns a set containing the difference between two or more sets

`difference_update()`	Removes the items in this set that are also included in another, specified set

`discard()`	Remove the specified item

`intersection()`	Returns a set, that is the intersection of two other sets

`intersection_update()`	Removes the items in this set that are not present in other, specified set(s)

`isdisjoint()`	Returns whether two sets have a intersection or not

`issubset()`	Returns whether another set contains this set or not

`issuperset()`	Returns whether this set contains another set or not

`pop()`	Removes an element from the set

`remove()`	Removes the specified element

`symmetric_difference()`	Returns a set with the symmetric differences of two sets

`symmetric_difference_update()`	inserts the symmetric differences from this set and another

`union()`	Return a set containing the union of sets

`update()`	Update the set with the union of this set and others

# Question 4 :
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
 
 
Input Format:
The first line contains n-1 numbers with each number separated by a space.
 
Output Format:
Print the missing number
 
Example:
 
Input:1 2 4 6 3 7 8
 
Output:5
  
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [33]:
def missing_number(x): # x is the list of numbers
    n = x[-1]
    sum = 0
    for i in x:
        sum += i
    mn = (n*(n+1))/2 - sum
    return mn
x = [1,2,3,4,5,6,8,9]
print("The missing number is : ", missing_number(x))

The missing number is :  7.0

# Question 5 :
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
 
 
Example:
 
If the input list is
12 24 35 24 88 120 155 88 120 155
 
Then the output should be
12 24 35 88 120 155
 
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
 
Input Format:
In one line take the elements of the list L with each element separated by a space.
 
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
 
Example:
Input: 12 24 35 24
 
Output: 12 24 35

In [39]:
# Is it a mistype? The original order reversed thing?
L = [12,24 ,35, 24, 88, 120, 155, 88, 120 ,155]
L2 = []
for i in L:
    if i not in L2:
        L2.append(i)
print("Now printing the duplication purified list elements with original order reversed : ")
for i in L2[::-1]:
    print(i, end = " ")

Now printing the duplication purified list elements with original order reversed :
155 120 88 35 24 12