In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
data = pd.read_csv("train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:

data = data.drop(['Name','PassengerId','Ticket','Cabin'],axis=1)

In [4]:
le = LabelEncoder()

In [5]:
data['Sex'] = le.fit_transform(data['Sex'])
data['Embarked'] = le.fit_transform(data['Embarked'])

In [6]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

## Now we create our SVM Model Function

In [7]:
def SVMmodel(col):
    x = data.drop([col],axis=1)
    y = data[col]
    train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.25, random_state=42)
    sv = SVC(gamma=0.01, C=100)
    sv.fit(train_x, train_y)
    print(f"Accuracy score is {accuracy_score(sv.predict(test_x),test_y, normalize=True)}")
    print(f"Confusion matrix: \n{confusion_matrix(sv.predict(test_x), test_y)}")

In [13]:
SVMmodel('Pclass')

Accuracy score is 0.9013452914798207
Confusion matrix:
[[ 51   5   1]
 [  4  37   5]
 [  1   6 113]]

In [8]:
SVMmodel('Survived')

Accuracy score is 0.7757847533632287
Confusion matrix:
[[116  25]
 [ 25  57]]

In [9]:
SVMmodel('Sex')

Accuracy score is 0.7130044843049327
Confusion matrix:
[[ 46  25]
 [ 39 113]]

In [10]:
SVMmodel('SibSp')

Accuracy score is 0.7847533632286996
Confusion matrix:
[[133  17   2   0   1   0   0]
 [ 21  32   4   1   0   0   0]
 [  1   1   1   0   0   0   0]
 [  0   0   0   3   0   0   0]
 [  0   0   0   0   3   0   0]
 [  0   0   0   0   0   2   0]
 [  0   0   0   0   0   0   1]]

In [11]:
SVMmodel('Parch')

Accuracy score is 0.7937219730941704
Confusion matrix:
[[153  18   3   0   0]
 [ 14  13   4   0   0]
 [  4   2   9   1   0]
 [  0   0   0   0   0]
 [  0   0   0   0   2]]

In [12]:
SVMmodel('Embarked')

Accuracy score is 0.7533632286995515
Confusion matrix:
[[ 14   0  13]
 [  1   5   1]
 [ 27  13 149]]